# Main Pipeline for SoundBox
# https://aka.ms/yaml

trigger:
- main

jobs:

- job: Linux
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - script: echo hello from Linux
  - script: uname -a
  - script: cmake --version
  - script: cmake --system-information 
  - script: pwd
  - script: ls -l
  - script: mkdir build; cd build
  ## - script: cmake ../source
  ## - script: cmake --build .

- job: Windows
  pool:
    vmImage: 'windows-latest'
  steps:
  - script: echo hello from Windows
  - script: systeminfo
  - script: cd
  - script: cmake --version
  - script: cmake --system-information
  - script: dir
  - script: md build 2>&1
  - script: cd build
  ## - script: cmake ..\source
  ## - script: cmake --build .


- job: macOS
  pool:
    vmImage: 'macOS-latest'
  steps:
  - script: echo hello from macOS
  - script: system_profiler
  - script: cmake --version
  - script: cmake --system-information
  - script: ls -l
  - script: mkdir build; cd build
  ## - script: cmake ../source
  ## - script: cmake --build .
