# Main Pipeline for SoundBox
# https://aka.ms/yaml

trigger:
- main

jobs:

- job: Linux
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - script: |
    echo hello from Linux
    uname -a
    cmake --version
    cd
    ls -l
    mkdir build; cd build
    cmake ../source
    cmake --build .

- job: Windows Build
  pool:
    vmImage: 'windows-latest'
  steps:
  - script: |
    echo hello from Windows
    systeminfo
    cd
    dir
    md build; cd build
    cmake ..\source
    cmake --build .


- job: macOS
  pool:
    vmImage: 'macOS-latest'
  steps:
  - script: |
    echo hello from macOS
    system_profiler
    cmake --version
    ls -l
    mkdir build; cd build
    cmake ../source
    cmake --build .
